* {
    -webkit-box-sizing: border-box;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

html {
    font-size: 16pt;
}

html, body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    text-rendering: optimizeLegibility;
}

nav {
    color: gray;
    vertical-align: bottom;
}

nav.blog-nav-prev, nav.blog-nav-next {
    max-width: 45%;
    line-height: 1;
}

nav.blog-nav-prev {
    text-indent: -1em;
    padding-left: 1em;
}

nav.blog-nav-next {
    text-align: right;
}

header.post-header {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    border-top: 2px solid black;
    line-height: 1.0;
    padding-top: 0.25em;
    text-align: right;
}

footer.site-footer {
    max-width: 850px;
    margin: 1em auto 0 auto;
    padding: 0.5em 0 0.5em 0;
}

article.post-content {
    display: inline-block;
    width: 77%;
    padding-left: 2%;
    text-align: justify;
}

figure {
    margin: 0 0 1em -33%;
    padding: 0.5em 0 0 0;
}

img {
    display: inline-block;
}

img.blog {
    width: 75%;
    height: auto;  
}

img.about {
    width: 100%;
    height: auto;
}

img.rp-img {
    width: 100%;
}

img.pubs {
    width: 100%;
    margin: 0 0 1em 0;
}

figcaption {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    text-align: left;
    font-size: 1em;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    hyphens:auto;
    -moz-hyphens:auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    margin-left: 2%;
}
    
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9375em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin: 1em 0 0.5em 0;
}

h1.page-heading {
    display:inline-block;
    vertical-align: top;
    margin: 0;
    width: 27%;
}

h1.page-title {
    margin: 0 0 0.5em 24.6%;
}

h1.page-title-left {
    margin: 0 0 0.5em 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

h2.bib {
    text-align: right;
    color: gray;
    margin: 0 0 1em 0;
}

p {
    line-height: 1.4;
    margin: 0 0 0.5em 0;
    text-align: justify;
    hyphens:auto;
    -moz-hyphens:auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
}

p.smaller {
    font-size: 0.875em;
}

p.small-left {
    text-align: left;
    hyphens: none;
    -moz-hyphens:none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    font-size: 0.875em;
}

p.cite {
    text-align: left;
    hyphens: none;
    -moz-hyphens:none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    font-size: 0.875em;
    margin: 0;
}

p.description {
    margin-top: 0;
}

p.post-snip {
    text-align: justify;
    font-size: 0.875em;
    padding-bottom: 0.5em;
}

aside {
    float:left;
    margin: 0 0 0 -33%;
    padding: 0;
    width: 29%;
    text-align: right;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-size: 1em;
}

blockquote {
    color: gray;
    font-size: 0.875em;
    margin: 0 2.5em 0.5em 2.5em;
    text-align: justify;
    line-height: 1.4;
    hyphens:auto;
    -moz-hyphens:auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
}

a {
    text-decoration: none;
    color:black;
}

a.mast-link {
    display: block;
}

.post-link {
    margin: 0;
    line-height: 1.0;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: crimson;
    -webkit-text-decoration-color: crimson;
}

a.front-title {
    display:block;
    font-size: 2.25em;
    /* text-transform:uppercase; */
    font-variant: small-caps;
    letter-spacing: 0.1em;
    text-align: center;
}

a.front-title:hover {
    text-decoration: none;
}

a.site-title {
    font-variant: small-caps;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    /* display: inline-block; */
}

a.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    display:inline-block;
}

a.read-more {
    font-size: 0.875em;
    text-transform: uppercase;
}

a.contact {
    display: inline-block;
}

a.blog-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
}

a.abs_tog {
    
}

a.comment_count {
    font-size: 0.875em;
    font-family: 'Source Sans Pro', sans-serif;
    color: crimson;
    font-weight: 300;
}

ul.post-list {
    list-style: none outside none;
    margin: 0 0 0 0;
    padding: 0;
    display:inline-block;
    width: 72%;
}

ul.about-list {
    list-style: none outside none;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

ul.about-list a {
    color: gray;
}

hr {
    border: 0; height: 2px;
    margin: 0;
    background: black;
}

div.wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 0;
}

div.site-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

div.mast-wrap {
    text-align: center;
    padding-top: 1em;
}
div.mast-contents {
    width: auto;
    display: inline-block;
}

div.home {
    padding-top: 1em;    
}

div.contact-bar {
    color: gray;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    border-top: 2px solid black;
    font-size: 0.875em;
}

div.list-head {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    text-align: right;
    border-top: 2px solid black;
}

div.post-excerpt {
    display: inline-block;
    vertical-align: top;
    width: 77%;
    padding-left: 2%;
    text-align: justify;
}

div.prev, div.next {
    /* display: inline-block; */
    color: gray;
}

div.blog-nav {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 -1em 0;
}

div.about-side {
    width: 22%;
    display: inline-block;
    vertical-align: top;
}

div.about-main {
    width: 76%;
    display: inline-block;
    vertical-align: top;
    padding-left: 1.6%;
}

div.research-panel {
    position: relative;
    width: 100%;
    margin: 1em 0 2em 0;
}

div.rp-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 66.6%;
    max-height: 5em;
    background: rgba(255, 255, 255, 0.7);
    padding: 0em 1.5em 0 0.25em;
    overflow: hidden;
    transition: all 1s ease-out;
}

div.rp-box:hover {
    max-height: 100%;
}

div.rp-box:after {
    content: '[+]';
    position: absolute;
    bottom: 0.25em;
    right:0.25em;
    font-size: 0.75em;
}

div.rp-box:hover:before {
    background:none;
}

div.rp-box:hover:after {
    content: '[-]';
}

div.covers {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

div.biblio {
    display: inline-block;
    width: 77%;
    padding-left: 2%;
}

div.abstract {
    display: none;
}

div#disqus_thread {
    margin: 1em 0 1em 0;
}

nav.front-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding-bottom: 1.5em;
}

nav.front-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav.front-nav li {
    display: inline-block;
    padding:0 12px;
}

nav.front-nav {
    text-decoration: none;
}

.post-meta {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9375em;
    margin: 0 0 0 0;
    text-align: right;
}

.site-header {
    padding-top: 1em;
    padding-bottom: 2em;
}