---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%-d %B %Y" }}</p>
    {% if page.comments %}<a href="{{ site.url }}{{ page.url }}/#disqus_thread" data-disqus-identifier="{{ page.id }}" class="comment_count"></a>{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
      
    {% include comments.html %}
  </article>
    
<div class="blog-nav">
   <nav class="blog-nav-prev">
    {% if page.previous.url %} 
    &lt; <a class="blog-nav" href="{{page.previous.url}}">{{page.previous.title}}</a> 
  {% endif %} 
    </nav>
    
    <nav class="blog-nav-next">
  {% if page.next.url %} 
    <a class="blog-nav" href="{{page.next.url}}">{{page.next.title}}</a> &gt; 
  {% endif %} 
     </nav>
    </div>
</div>
